@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


:root {
    --body-color: #F2f1FC;
    --text-color: #17163C;
    --btn-color1: #D14B3E;
    --btn-color2: #3D5A96;
    --btn-color3: #58ACEA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    height: 600px;
    width: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 34px 35px -15px rgba(10, 10, 80, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // flex-direction: column;
    .close{
        display: flex;
        justify-content:center;
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: #f1f1fc;
        width: 46px;
        height: 46px;
        border-radius: 100%;
        z-index: 1;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        

        // close class start
       

        // close class ends

        // content class start

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 300px;
            height: 60px;
            gap: 25px;

            h1{
                color: var(--text-color);
                text-align: center;
                font-size: 22px;
                margin-bottom: 30px;
            }

            .btn1 {
                display: flex;
                justify-content: center;
                background-color: var(--btn-color1);
                color: #fff;
                border-radius: 10px;
                padding: 15px;
                border: none;

                p{
                    color: #fff;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                }
            }

            .btn2 {
                display: flex;
                justify-content: center;
                background-color: var(--btn-color2);
                color: #fff;
                border-radius: 10px;
                padding: 15px;
                border: none;

                p{
                    color: #fff;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                }
            }

            .btn3 {
                display: flex;
                justify-content: center;
                background-color: var(--btn-color3);
                color: #fff;
                border-radius: 10px;
                padding: 15px;
                border: none;
                p{
                    color: #fff;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                }
            }

            .bottom-content {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                input {
                    width: 25px;
                    height: 25px;
                    border: 1px solid #9B9BCF;
                }
            }
        }

        // content class ends
    }
}